body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*Styling for heading and sub heading */
h1 {
    color: #6a1b9a;
    text-align: center;
    border: 6px solid #6a1b9a;
    padding: 10px
}

h3 {
    color: #000000;
    text-align: center;
}

/*Styling for the Cat Gallery images display*/
#cat-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1000px;
    margin: 20px auto;
}

/*Styles the size of the images within the cat gallery variable from the CATAAS API*/
#cat-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8e24aa;
}

/* Error message styles */
#error-message {
    color: red;
    margin-top: 20px;
  }
  
/* Responsive style for mobile view, media query that targets */
  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
  
    #loadMoreButton {
      width: 80%;
      font-size: 16px;
      padding: 15px;
    }
  
    #cat-gallery {
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }
  
    #cat-gallery li {
      width: 80%;
    }
  }